.l-split {
    display: flex;
    flex-direction: column;

    .l-split__item {
        width: 100%;
    }

    &.padded {
        .l-split__item {
            padding: 0 var(--size-xl);
        }
    }
}

@media only screen and (min-width: 800px) {
    .l-split {
        flex-direction: row;

        .l-split__item {
            width: 50%;
        }
    }
}
