:root {
    --font-primary: 'MrsEavesRoman', sans-serif;
    --font-logo: 'MrsEavesRoman', sans-serif;
    --font-secondary: 'Source Sans Pro', sans-serif;
    --font-size--xxlarge: 34px;
    --font-size--xlarge: 28px;
    --font-size--large: 25px;
    --font-size--default: 16px;
    --font-size--small: 13px;
}
