/*
---
name: Highlight
category: Organism
---

Our basic Highlight.

```atom-book.html
<div class="m-bio">
    <div class="m-bio__upper">Latest blog post</div>
    <h2 class="m-bio__title">
       Troiae qui primus ab oris Italiam, fato profugus
    </h2>
    <div class="a-html m-bio__html">
       <p>
        Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, fato profugus. Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, fato profugus qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam.
       </p>
    </div>
</div>
 */

.m-bio {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: calc(min(90vw, 400px));
    margin-bottom: var(--size-m);

    .m-bio__title {
        --font-size: 50px;
        color: var(--color-ui-white);
        text-align: left;
        font-size: var(--font-size);
        font-weight: 700;
        margin: 0 0 var(--size-m);
        padding: 0;
        line-height: 1;
        font-family: var(--font-primary);
        letter-spacing: calc(var(--font-size) / 10);
        text-transform: uppercase;
    }

    .m-bio__upper {
        text-transform: uppercase;
        margin-bottom: var(--size-m);
        font-size: 18px;
    }

    .m-bio__actions {
        display: flex;
        flex-direction: row;
        margin-top: var(--size-l);

        .m-bio__action {
            display: flex;
            flex-direction: row;
            text-align: center;
            align-self: center;
            align-items: center;
            margin-right: var(--size-m);

            &:last-child {
                margin-right: 0;
            }
        }

        svg {
            width: 20px;
            margin-right: var(--size-s);
        }
    }

}
