/*
---
name: Post
category: Organism
---

Our basic Highlight.

```atom-post.html
<div class="m-post">
    <div class="m-post__info">
        <h3 class="m-post__title">
           Troiae qui primus ab oris Italiam, fato profugus
        </h3>
        <div class="a-html m-post__html">
           <p>
            Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, fato profugus. Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, fato profugus qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam.
           </p>
        </div>
        <a href="#" class="m-post__more">
            Read more
        </a>
    </div>
</div>
 */

.m-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    border-top: 1px solid rgba(255,255,255,0.4);
    padding-top: var(--size-xxl);
    padding-bottom: var(--size-xl);

    .m-post__title {
        --font-size: 30px;
        color: var(--color-ui-white);
        text-align: left;
        font-size: var(--font-size);
        font-weight: 700;
        margin: 0 0 var(--size-m);
        line-height: 1;
        font-family: var(--font-primary);
        letter-spacing: calc(var(--font-size) / 10);
        text-transform: uppercase;
    }

    .m-post__upper {
        text-transform: uppercase;
        margin-bottom: var(--size-m);
        font-size: 18px;
    }

    .m-post__info {
        display: flex;
        flex-direction: column;
        min-width: calc(min(90vw, 400px));
    }
}

@media only screen and (min-width: 1000px) {
    .m-post {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
