/*
---
name: Review
category: Organism
---

Our basic Review.

```atom-review.html
<div class="m-review">
    <div class="m-review__content">
        <div class="m-review__quote">
            "Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, qui primus ab oris Italiam"
        </div>
    </div>
</div>
```
*/

.m-review {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    border-radius: 8px;
    padding: var(--size-m) var(--size-xs);

    .m-review__by {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 100%;
        margin: auto;
        padding-bottom: var(--size-xl);
    }

    .m-review__author {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: var(--size-s);
        padding: 0 var(--size-xs);
    }

    .m-review__author_name {
        color: var(--color-ui-white);
        font-weight: 700;
    }

    .m-review__author_function {
        color: var(--color-secondary);
        font-weight: 300;
        line-height: 1.6;
    }

    .m-review__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .m-review__quote {
        padding: var(--size-xl);
        font-size: 18px;
        width: auto;
        margin: auto;
        font-weight: 300;
        line-height: 1.6;
        text-align: center;
        border-top: 1px dashed rgba(255,255,255, 0.3);
    }

    .m-review__avatar {
        display: none;
    }
}

@media only screen and (min-width: 600px) {

    .m-review {
        padding: var(--size-m) var(--size-m);

        .m-review__avatar {
            display: block;
            margin: auto;
        }

        .m-review__by {
            max-width: 60%;
        }

        .m-review__quote {
            width: 80%;
        }

        .m-review__author {
            text-align: center;
            padding: 0 var(--size-l);
        }
    }
}
