/*
---
name: Review
category: Organism
---

Our basic Review.

```atom-review.html
<div class="m-review">
    <div class="m-review__content">
        <div class="m-review__quote">
            "Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, qui primus ab oris Italiam"
        </div>
    </div>
</div>
```
*/

.m-review {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    border-radius: 8px;
    padding: var(--size-l) var(--size-xs);
    background-color: var(--color-ui-black);

    .m-review__by {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        max-width: 100%;
        margin: auto;
        padding-bottom: var(--size-xl);
    }

    .m-review__author {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 var(--size-xs);
    }

    .m-review__author_name {
        color: var(--color-ui-white);
        font-weight: 700;
    }

    .m-review__author_function {
        color: var(--color-secondary);
    }

    .m-review__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .m-review__quote {
        padding: var(--size-xl);
        font-size: 20px;
        width: auto;
        margin: auto;
        font-weight: 300;
        line-height: 1.6;
        text-align: center;
    }

    .m-review__avatar {
        display: none;
    }
}

@media only screen and (min-width: 600px) {

    .m-review {
        padding: var(--size-xxl) var(--size-l);

        .m-review__avatar {
            display: block;
        }

        .m-review__by {
            max-width: 40%;
        }

        .m-review__quote {
            width: 60%;
        }

        .m-review__author {
            text-align: left;
            padding: 0 var(--size-l);
        }
    }
}
