/*
---
name: Biography
category: Pages
---
Layout for website.
```bio.html
<div id="l-page" class="l-page">
    <div class="l-header">
        <div class="l-logo">
            <a href="#" class="a-logo">
                <span class="a-logo--big">Johan</span>
                <span class="a-logo--small"> van overtveldt</span>
            </a>
        </div>
        <div class="l-navigation">
            <nav class="a-navigation">
                <div class="a-navigation__links">
                     <a href="#">Blog</a>
                    <a href="#">The Book</a>
                    <a href="#" class="active">Biography</a>
                    <a href="#">In the Press</a>
                    <a href="#">Contact</a>
                </div>
                <div class="a-navigation__toggle js--navigation-toggle">
                    <div class="a-hamburger">
                        <div class="a-hamburger-box">
                          <div class="a-hamburger-inner"></div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="l-hero">
        <div class="o-hero o-hero--fluent">
            <div class="o-hero__inner">
                <div class="l-block">
                <div class="l-block__inner">
                    <div class="m-bio" data-aos="zoom-in" data-aos-duration="500">
                        <div class="m-bio__upper">Biography</div>
                        <h2 class="m-bio__title">
                           Johan van Overtveldt
                        </h2>
                        <div class="a-html m-bio__html">
                           <p>
                           Dr. Johan Van Overtveldt (born 1955, Belgium) has a Ph.D in Applied Economics.  He studied Economics at the University of Antwerp and Business Administration at the Catholic University of Leuven.

He started his career as a journalist and a Chief Economist, and became Editor in Chief for leading Belgian financial- and economic magazines.

In the early years of his career he was an economic- and financial advisor for several national and international companies.
                           </p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="o-hero__bg o-hero__bio"></div>
            <div class="o-hero__overlay"></div>
        </div>
    </div>
    <div class="l-main l-flow">
        <div class="l-block">
            <div class="l-block__inner">
                <div class="a-html">
                   In November 2013 Van Overtveldt switched over to politics, becoming a member of the New Flemish Alliance (N-VA).  As main N-VA candidate for the 2014 European Parliament elections, he was elected as a member of the European Parliament.
Following the formation of the Belgian Government in October 2014, Van Overtveldt became Minister of Finance.
As Minister of Finance he had a seat in the Eurogroup, the meeting of the finance ministers of the euro zone which played an important role in addrerssing the Greek crisis.
In his capacity as Minister he also was an Ex-Officio member of the Board of Governors for the European Investment Bank (EIB), the European Stability Mechanism (ESM), the African Development Bank (AfDB), the Asian Development Bank (ADB), the European Bank for Reconstruction and Development (EBRD), the Inter-American Investment Corporation (IIC), the International Monetary Fund (IMF), the Joint World Bank-IMF Development Committee, the Multilateral Investment Guarantee Agency (MIGA), and the World Bank.
Since the 2019 elections, Van Overtveldt has been a member of the European Parliament, where he has been chairing the Parliament's Committee on Budgets and leading the parliament’s delegation in negotiations on the EU-budget. In addition, he is a member and Coördinator of the Committee on Economic and Monetary Affairs and a member of the Committee on Transport and Tourism.s
                </div>
            </div>
        </div>
        <div class="l-block">
            <div class="l-block__inner">
                <div class="a-links">
                    <div class="a-links__list">
                         <div class="a-links__link">
                            <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zm-22.6 22.7c2.1 2.1 3.5 4.6 4.2 7.4H256V32.5c2.8.7 5.3 2.1 7.4 4.2l83.9 83.9zM336 480H48c-8.8 0-16-7.2-16-16V48c0-8.8 7.2-16 16-16h176v104c0 13.3 10.7 24 24 24h104v304c0 8.8-7.2 16-16 16zm-22-171.2c-13.5-13.3-55-9.2-73.7-6.7-21.2-12.8-35.2-30.4-45.1-56.6 4.3-18 12-47.2 6.4-64.9-4.4-28.1-39.7-24.7-44.6-6.8-5 18.3-.3 44.4 8.4 77.8-11.9 28.4-29.7 66.9-42.1 88.6-20.8 10.7-54.1 29.3-58.8 52.4-3.5 16.8 22.9 39.4 53.1 6.4 9.1-9.9 19.3-24.8 31.3-45.5 26.7-8.8 56.1-19.8 82-24 21.9 12 47.6 19.9 64.6 19.9 27.7.1 28.9-30.2 18.5-40.6zm-229.2 89c5.9-15.9 28.6-34.4 35.5-40.8-22.1 35.3-35.5 41.5-35.5 40.8zM180 175.5c8.7 0 7.8 37.5 2.1 47.6-5.2-16.3-5-47.6-2.1-47.6zm-28.4 159.3c11.3-19.8 21-43.2 28.8-63.7 9.7 17.7 22.1 31.7 35.1 41.5-24.3 4.7-45.4 15.1-63.9 22.2zm153.4-5.9s-5.8 7-43.5-9.1c41-3 47.7 6.4 43.5 9.1z" class=""></path></svg>
                            <a download href="dist/images/dummy/pdf.pdf">Curriculum vitae of Johan vanovertveldt</a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-block">
            <div class="l-block__inner">
               <div class="m-work-history a-html" data-aos="fade-up">
                    <h3>Work history</h3>
                    <div class="m-work-history__listing">
                       <div class="m-work-history_item">
                            <div class="m-work-history_item__heading">
                                <div class="m-work-history__date">
                                    <span>Currently</span>
                                </div>
                                <div class="m-work-history__function">Member of the European Parliament (N-VA)</div>
                            </div>
                            <ul class="m-work-history_item__responsibilities">
                                <li>Chair of the Budget Committee</li>
                                <li>Member of the ECON Committee</li>
                                <li>Member of the TRAN Committee</li>
                            </ul>
                        </div>
                        <div class="m-work-history_item">
                            <div class="m-work-history_item__heading">
                                <div class="m-work-history__date">
                                    <span>Currently</span>
                                 </div>
                                <div class="m-work-history__function">Professor in Economics, University of Hasselt</div>
                            </div>
                            <ul class="m-work-history_item__responsibilities">
                                <li>Course: The History of Economic Thoughts</li>
                                <li>Course: Macroeconomic Policy</li>
                            </ul>
                        </div>
                        <div class="m-work-history_item">
                            <div class="m-work-history_item__heading">
                                <div class="m-work-history__date">
                                    <span>2018 – 2014</span>
                                </div>
                                <div class="m-work-history__function">Minister of Finance, Federal Government of Belgium</div>
                            </div>
                        </div>
                        <div class="m-work-history_item">
                            <div class="m-work-history_item__heading">
                                <div class="m-work-history__date">
                                    <span>Oct 2014 – July 2014</span>
                                </div>
                                <div class="m-work-history__function">Member of the European Parliament (N-VA) and Vice-chairman of the ECON Commission, European Parliament</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-block">
            <div class="l-block__inner">
               <div class="m-studies a-html" data-aos="fade-up">
                    <h3>Education</h3>
                    <div class="m-studies__listing">
                        <div class="m-studies_item">
                            <div class="m-studies__study">
                              <div class="m-studies__study_info">
                                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M612.16 153.99l-265-85.68c-17.81-5.75-36.5-5.75-54.31 0l-265 85.68C10.94 159.46 0 174.38 0 192s10.94 32.54 27.84 38.01l29.71 9.6c-3.3 6.18-5.74 12.83-7.33 19.8C39.53 264.59 32 275.32 32 288c0 12.73 7.57 23.52 18.33 28.67L32.28 428.53C30.67 438.52 36.19 448 43.62 448h40.75c7.43 0 12.96-9.48 11.34-19.47L77.67 316.67C88.43 311.52 96 300.73 96 288c0-10.6-5.49-19.54-13.43-25.37 1.49-4.66 3.8-8.86 6.57-12.81l53.47 17.29L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.61-116.89L612.16 230c16.9-5.46 27.84-20.38 27.84-38s-10.94-32.54-27.84-38.01zM479.48 381.86C468.72 393.19 414.04 416 320 416c-94.04 0-148.72-22.81-159.48-34.14l13.09-104.73 119.24 38.55c2.6.84 25.72 9.23 54.31 0l119.24-38.55 13.08 104.73zm122.8-182.28l-265 85.68c-11.31 3.66-23.25 3.66-34.56 0l-175.67-56.8 195.89-36.74c8.69-1.62 14.41-9.98 12.78-18.67-1.62-8.7-10.16-14.39-18.66-12.77l-203.78 38.2c-12.4 2.32-23.51 7.65-33.08 14.83l-42.49-13.74c-7.85-2.55-7.46-12.74 0-15.15l265-85.68c15.1-4.88 27.84-2.17 34.56 0l265 85.68c7.39 2.39 7.91 12.6.01 15.16z" class=""></path></svg>
                                <span class="m-studies__title">Ph D in Applied Economics</span>
                              </div>
                              <div class="m-studies__school">University of Antwerp (UA)</div>
                            </div>
                        </div>
                        <div class="m-studies_item">
                            <div class="m-studies__study">
                              <div class="m-studies__study_info">
                                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M612.16 153.99l-265-85.68c-17.81-5.75-36.5-5.75-54.31 0l-265 85.68C10.94 159.46 0 174.38 0 192s10.94 32.54 27.84 38.01l29.71 9.6c-3.3 6.18-5.74 12.83-7.33 19.8C39.53 264.59 32 275.32 32 288c0 12.73 7.57 23.52 18.33 28.67L32.28 428.53C30.67 438.52 36.19 448 43.62 448h40.75c7.43 0 12.96-9.48 11.34-19.47L77.67 316.67C88.43 311.52 96 300.73 96 288c0-10.6-5.49-19.54-13.43-25.37 1.49-4.66 3.8-8.86 6.57-12.81l53.47 17.29L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.61-116.89L612.16 230c16.9-5.46 27.84-20.38 27.84-38s-10.94-32.54-27.84-38.01zM479.48 381.86C468.72 393.19 414.04 416 320 416c-94.04 0-148.72-22.81-159.48-34.14l13.09-104.73 119.24 38.55c2.6.84 25.72 9.23 54.31 0l119.24-38.55 13.08 104.73zm122.8-182.28l-265 85.68c-11.31 3.66-23.25 3.66-34.56 0l-175.67-56.8 195.89-36.74c8.69-1.62 14.41-9.98 12.78-18.67-1.62-8.7-10.16-14.39-18.66-12.77l-203.78 38.2c-12.4 2.32-23.51 7.65-33.08 14.83l-42.49-13.74c-7.85-2.55-7.46-12.74 0-15.15l265-85.68c15.1-4.88 27.84-2.17 34.56 0l265 85.68c7.39 2.39 7.91 12.6.01 15.16z" class=""></path></svg>
                                <span class="m-studies__title">Master of Business Administration</span>
                              </div>
                              <div class="m-studies__school">Catholic University of Leuven (KUL)</div>
                            </div>
                        </div>
                        <div class="m-studies_item">
                            <div class="m-studies__study">
                              <div class="m-studies__study_info">
                                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M612.16 153.99l-265-85.68c-17.81-5.75-36.5-5.75-54.31 0l-265 85.68C10.94 159.46 0 174.38 0 192s10.94 32.54 27.84 38.01l29.71 9.6c-3.3 6.18-5.74 12.83-7.33 19.8C39.53 264.59 32 275.32 32 288c0 12.73 7.57 23.52 18.33 28.67L32.28 428.53C30.67 438.52 36.19 448 43.62 448h40.75c7.43 0 12.96-9.48 11.34-19.47L77.67 316.67C88.43 311.52 96 300.73 96 288c0-10.6-5.49-19.54-13.43-25.37 1.49-4.66 3.8-8.86 6.57-12.81l53.47 17.29L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.61-116.89L612.16 230c16.9-5.46 27.84-20.38 27.84-38s-10.94-32.54-27.84-38.01zM479.48 381.86C468.72 393.19 414.04 416 320 416c-94.04 0-148.72-22.81-159.48-34.14l13.09-104.73 119.24 38.55c2.6.84 25.72 9.23 54.31 0l119.24-38.55 13.08 104.73zm122.8-182.28l-265 85.68c-11.31 3.66-23.25 3.66-34.56 0l-175.67-56.8 195.89-36.74c8.69-1.62 14.41-9.98 12.78-18.67-1.62-8.7-10.16-14.39-18.66-12.77l-203.78 38.2c-12.4 2.32-23.51 7.65-33.08 14.83l-42.49-13.74c-7.85-2.55-7.46-12.74 0-15.15l265-85.68c15.1-4.88 27.84-2.17 34.56 0l265 85.68c7.39 2.39 7.91 12.6.01 15.16z" class=""></path></svg>
                                <span class="m-studies__title">Master Applied Economics</span>
                              </div>
                              <div class="m-studies__school">University of Antwerp (UA)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-block">
            <div class="l-block__inner">
                <div class="m-publications a-html" data-aos="fade-up">
                    <h3>Publications</h3>
                    <div class="m-publications__listing">
                        <div class="m-publications_in_language">
                            <h4>In English</h4>
                            <ul class="m-publications_in_language__listing">
                                <li>A Giant Reborn. Why the US will dominate the 21st Century (2015) , Agate Publishing</li>
                                <li>The End of the Euro. The uneasy Future of the European Union (2011), Agate Publishing</li>
                                <li>Bernanke’s test. Bert Bernanke, Alan Greenspan and the Drama of the Central Banker (2009), Agate Publishing</li>
                                <li>The Chicago School. How the University of Chicago Assembled the Thinkers who Revolutionized Economics and Business (2007), Agate Publishing</li>
                            </ul>
                        </div>

                        <div class="m-publications_in_language">
                            <h4>In Dutch</h4>
                            <ul class="m-publications_in_language__listing">
                                <li>Zijn we het kwijt? Een toekomst voor Vlaanderen en Europa (2019), Uitgeverij Polis </li>
                                <li>Sisyphus achterna. Hoe het failliet van Lehman onze wereld blijft veranderen (2018), Uitgeverij Polis </li>
                                <li>De Ontwakende Reus. Waarom Amerika de 21ste eeuw zal domineren, (2016), Uitgeverij Polis</li>
                                <li>Red de Vrije Markt. De terugkeer van Milton Friedman (2012), Uitgeverij De Bezige Bij</li>
                                <li>Het Einde van de Euro. De onzekere toekomst van de Europese Unie (2011), Uitgeverij Acco</li>
                                <li>Maandag geen economie meer? (2009), Uitgeverij Economedia</li>
                                <li>De Euroscheppers. Macht en Manipulatie achter de Euro (2003), Uitgeverij Pelckmans</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-block">
            <div class="l-block__inner">
            <div class="m-gallery a-html" data-aos="fade-up">
                <h3>Press photos</h4>
                <div class="m-gallery__listing">
                    <div class="m-gallery__thumb">
                        <img src="https://derijkstebelgen.be/wp-content/uploads/2015/09/Van-Overtveldt.jpg"/>
                    </div>
                    <div class="m-gallery__thumb">
                        <img src="https://derijkstebelgen.be/wp-content/uploads/2015/09/Van-Overtveldt.jpg"/>
                    </div>
                    <div class="m-gallery__thumb">
                        <img src="https://derijkstebelgen.be/wp-content/uploads/2015/09/Van-Overtveldt.jpg"/>
                    </div>
                    <div class="m-gallery__thumb">
                        <img src="https://derijkstebelgen.be/wp-content/uploads/2015/09/Van-Overtveldt.jpg"/>
                    </div>
                    <div class="m-gallery__thumb">
                        <img src="https://derijkstebelgen.be/wp-content/uploads/2015/09/Van-Overtveldt.jpg"/>
                    </div>
                    <div class="m-gallery__thumb">
                        <img src="https://derijkstebelgen.be/wp-content/uploads/2015/09/Van-Overtveldt.jpg"/>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="l-block">
            <div class="l-block__inner">
                <div class="a-links">
                    <div class="a-links__list">
                         <div class="a-links__link">
                            <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zm-22.6 22.7c2.1 2.1 3.5 4.6 4.2 7.4H256V32.5c2.8.7 5.3 2.1 7.4 4.2l83.9 83.9zM336 480H48c-8.8 0-16-7.2-16-16V48c0-8.8 7.2-16 16-16h176v104c0 13.3 10.7 24 24 24h104v304c0 8.8-7.2 16-16 16zm-22-171.2c-13.5-13.3-55-9.2-73.7-6.7-21.2-12.8-35.2-30.4-45.1-56.6 4.3-18 12-47.2 6.4-64.9-4.4-28.1-39.7-24.7-44.6-6.8-5 18.3-.3 44.4 8.4 77.8-11.9 28.4-29.7 66.9-42.1 88.6-20.8 10.7-54.1 29.3-58.8 52.4-3.5 16.8 22.9 39.4 53.1 6.4 9.1-9.9 19.3-24.8 31.3-45.5 26.7-8.8 56.1-19.8 82-24 21.9 12 47.6 19.9 64.6 19.9 27.7.1 28.9-30.2 18.5-40.6zm-229.2 89c5.9-15.9 28.6-34.4 35.5-40.8-22.1 35.3-35.5 41.5-35.5 40.8zM180 175.5c8.7 0 7.8 37.5 2.1 47.6-5.2-16.3-5-47.6-2.1-47.6zm-28.4 159.3c11.3-19.8 21-43.2 28.8-63.7 9.7 17.7 22.1 31.7 35.1 41.5-24.3 4.7-45.4 15.1-63.9 22.2zm153.4-5.9s-5.8 7-43.5-9.1c41-3 47.7 6.4 43.5 9.1z" class=""></path></svg>
                            <a download href="dist/images/dummy/pdf.pdf">Download official press photo's</a>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-footer">
            <footer class="o-footer">
                <span class="o-footer__copyright">All rights reserved 2021 @johanvanoveldt</span>
                <ul class="o-footer__menu">
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </footer>
        </div>
    </div>
 </div>
```
```layout.css hidden
.l-page {
   min-height: 800px;
}
```
*/
