/*
---
name: Blog
category: Pages
---
Layout for website.
```blog.html
<div id="l-page" class="l-page without--hero">
    <div class="l-header">
        <div class="l-logo">
            <div class="a-logo">
                <span class="a-logo--big">Johan</span>
                <span class="a-logo--small"> van overtveldt</span>
            </div>
        </div>
        <div class="l-navigation">
            <nav class="a-navigation">
                <div class="a-navigation__links">
                    <a href="#" class="active">Blog</a>
                    <a href="#">The Book</a>
                    <a href="#">Bio / Press</a>
                    <a href="#">Useful Links</a>
                    <a href="#">Contact</a>
                </div>
                <div class="a-navigation__toggle js--navigation-toggle">
                    <div class="a-hamburger">
                        <div class="a-hamburger-box">
                          <div class="a-hamburger-inner"></div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="l-main l-flow">
        <div class="l-block-big">
            <div class="l-block__inner">
               <div class="m-highlight">
                    <div class="m-highlight__visual">
                        <img src="https://english.n-va.be/sites/international.n-va.be/files/styles/style_cv_detail/public/generated/images/cv-picture/jvo.png?itok=_TJZvFHc&timestamp=1562055630"/>
                    </div>
                    <div class="m-highlight__info">
                        <div class="m-highlight__upper">Latest blog post</div>
                        <h2 class="m-highlight__title">
                           Troiae qui primus ab oris Italiam, fato profugus
                        </h2>
                        <div class="a-html m-highlight__html">
                           <p>
                            Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, fato profugus. Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, fato profugus qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam.
                           </p>
                        </div>
                        <a href="#" class="m-highlight__more">
                            Read more
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-block">
            <div class="l-block__inner">
                <div class="m-post">
                    <div class="m-post__info">
                        <h3 class="m-post__title">
                           Troiae qui primus ab oris Italiam, fato profugus
                        </h3>
                        <div class="a-html m-post__html">
                           <p>
                            Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, fato profugus. Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, fato profugus qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam.
                           </p>
                        </div>
                        <a href="#" class="m-post__more">
                            Read more
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-block">
            <div class="l-block__inner">
                <div class="m-post">
                    <div class="m-post__info">
                        <h3 class="m-post__title">
                           Troiae qui primus ab oris Italiam, fato profugus
                        </h3>
                        <div class="a-html m-post__html">
                           <p>
                            Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, fato profugus. Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, fato profugus qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam.
                           </p>
                        </div>
                        <a href="#" class="m-post__more">
                            Read more
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-block">
            <div class="l-block__inner">
                <div class="m-post">
                    <div class="m-post__info">
                        <h3 class="m-post__title">
                           Troiae qui primus ab oris Italiam, fato profugus
                        </h3>
                        <div class="a-html m-post__html">
                           <p>
                            Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, fato profugus. Troiae qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam, fato profugus qui primus ab oris Italiam, fato profugus troiae qui primus ab oris Italiam.
                           </p>
                        </div>
                        <a href="#" class="m-post__more">
                            Read more
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-block">
            <div class="l-block__inner">
                <div class="o-pager">
                    <span class="o-pager__results">1 - 15 van 398 resultaten</span>
                    <div class="o-pager__pages">
                        <a href="#" class="o-pager__page o-pager__page--active">1</a>
                        <a href="#" class="o-pager__page">2</a>
                        <a href="#" class="o-pager__page">3</a>
                        <a href="#" class="o-pager__page">4</a>
                        <a href="#" class="o-pager__page">5</a>
                        <a href="#" class="o-pager__page">Volgende</a>
                        <a href="#" class="o-pager__page">Laatste</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-footer">
            <footer class="o-footer">
                <span class="o-footer__copyright">All rights reserved 2021 @johanvanoveldt</span>
                <ul class="o-footer__menu">
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </footer>
        </div>
    </div>
</div>
```
```layout.css hidden
.l-page {
   min-height: 800px;
}
```
*/
