/*
---
name: The Book
category: Pages
---
Layout for website.
```the-book.html
<div id="l-page" class="l-page">
    <div class="l-header">
        <div class="l-logo">
            <div class="a-logo">
                <span class="a-logo--big">Johan</span>
                <span class="a-logo--small"> van overtveldt</span>
            </div>
        </div>
        <div class="l-navigation">
            <nav class="a-navigation">
                <div class="a-navigation__links">
                    <a href="#">The Blog</a>
                     <a href="#" class="active">The Book</a>
                    <a href="#">Bio / Press</a>
                    <a href="#">Useful Links</a>
                    <a href="#">Contact</a>
                </div>
                <div class="a-navigation__toggle js--navigation-toggle">
                    <div class="a-hamburger">
                        <div class="a-hamburger-box">
                          <div class="a-hamburger-inner"></div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="l-hero">
        <div class="o-hero o-hero--fluent">
            <div class="o-hero__inner">
                <div class="l-block">
                <div class="l-block__inner">
                    <div class="m-bio">
                        <div class="m-bio__upper">The book</div>
                        <h2 class="m-bio__title">
                           What The Mystic Hand is all about?!
                        </h2>
                        <div class="a-html m-bio__html">
                           <p>
Over the past decade and a half central banks have done things they never did before. The Mystic Hand considers these “things”. What exactly did central banks do? Why did they do those things? What are the consequences, intended or not, of these “things-never-done-before”? Where do the central banks go from here? Where should they go from here? The Mystic Hand tries to answer these and related questions.
                           </p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="o-hero__bg o-hero__mystichand"></div>
            <div class="o-hero__overlay"></div>
        </div>
    </div>
    <div class="l-main l-flow">
        <div class="l-block">
          <div class="l-block__inner">
            <div class="a-html">
                          <p>Over the past decade and a half central banks have done things they never did before. <em>The Mystic Hand </em>considers these “things”. What exactly did central banks do? Why did they do those things? What are the consequences, intended or not, of these “<em>things-never-done-before</em>”? Where do the central banks go from here? Where <em>should</em> they go from here? <em>The Mystic Hand</em> tries to answer these and related questions.</p>
        <p>Rushed by the emergencies of the Great Financial Crisis and the Covid 19 pandemic, the major central banks pursued extremely accommodative policies. Very low, even negative, policy interest rates went hand in hand with massive asset buying programs, termed <em>quantitative easing.</em> Further still, central banks issued explicit forward guidance on the long-term continuation of these policies.</p>
        <p>Radiating extreme self-assuredness, central banks increasingly imposed themselves on financial markets and the real economy. Their <em>Mystic Hand</em> was felt in every nook and cranny of the economy, even society at large.</p>
        <p>The sophisticated nature of the processes of money creation and destruction adds substantially to the mystique surrounding the functioning of central banks. Complex if not sometimes hardly comprehensible communication reinforces the idea of central banking being a profession reserved for the mystically gifted. Breaking through the different layers of this mystic veil is also a major objective of this book.&nbsp;</p>
        <p><em>The Mystic Hand</em> approaches the recent epoch of previously unseen activity of central banks from an historic perspective, focusing on what 18th and 19th century luminaries like Henry Thornton (1760-1815) and Walter Bagehot (1828-1871) taught us on central bank policies and financial crisis management. Their analysis and policy prescriptions were ignored during the 1920s and 1930s, leading directly to the Great Depression of the 1930s and indirectly to the rise of fascism, communism and the Second World War.</p>
        <p>When the Great Financial Crisis arrived in 2007-2008, the Thornton-Bagehot teachings and policy prescriptions figured prominently in the actions of the major central banks. After having un-learned important lessons during the first decades of the 20th century, central bankers re-learned them when the first major crisis of the 21st century came rolling in<em>. </em>A 21st century repetition of the Great Depression was avoided. Uncertain about the path to follow, central banks maintained an unchanged course. They followed this course for a long time, most probably too long a time.. When the Covid 19 pandemic unexpectedly engulfed the world early in 2020, central banks felt obliged to double down on their accommodative efforts. &nbsp;By doing so though they only further intensified the already very real unintended negative consequences of their policies to date.</p>
        <p>I summarize in <em>The Mystic Hand</em> the unintended negative consequences in what I label as eight syndromes closely linked to the persistently expansionary monetary policies:</p>
        <ul>
        <li>The Butch Cassidy Syndrome, referring to the theft of wealth, income, and jobs from the future and from neighboring nations;</li>
        <li>The Michael Jackson Syndrome, as metaphor for constant stimulation in the direction of excessive leverage and debt accumulation;</li>
        <li>The David Copperfield Syndrome, referring to the disappearing act on the purchasing power of the savings of ordinary people;</li>
        <li>The Semper Augustus Syndrome, as metaphor for the continuous and widespread bubble blowing and expansion of the shadow banking sector;</li>
        <li>The Savior-Turned-Bully Syndrome, referring to the heavy burden of persistently low interest rates on the traditional financial and insurance sectors;</li>
        <li>The 26 = 3.8 Billion Syndrome, as metaphor for the inequality-augmenting consequences of these persistently expansionary monetary policies;</li>
        <li>The Zombie Syndrome, referring to the structural weakening of productivity performance and real economy growth potential; and</li>
        <li>The Sloth Syndrome, as metaphor for the central bank policies incentivizing politicians to neglect much-needed structural reforms.</li>
        </ul>
        <p>&nbsp;</p>
        <p>Moreover, by pursuing these very accommodative policies in a persistent and prolonged way, central bankers have become the prisoners of their own policies. They are caught in several traps simultaneously.</p>
        <p>First there is the financial market trap. Financial markets conquered the commanding heights of monetary policy. Very low interest rates for a very long time and guidance that reinforced the low-rate perspective gave birth to highly leveraged positions and dangerously high debt levels. Avoiding financial market panics related to the consequences of rising interest rates have become a major determinant of monetary policies. This interdependence created a vicious circle from which it is increasingly delicate to escape. &nbsp;</p>
        <p>Second is the reality of fiscal dominance, meaning that monetary policy has become the prisoner of the (dire) fiscal situation in most countries. Budget deficits and debt ratios have increased substantially, not least because of the measures taken to counter the Covid 19 pandemic. Thanks to the policies pursued by central banks, the interest rate cost of these elevated deficits and debts is historically low. If central banks would be obliged to raise interest rates, the impact on the public finances of most advanced countries would be truly devastating, even for those countries that turned most of their outstanding debt into long-term debt.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The perspective of higher policy interest rate has become much more realistic during 2021 given the rise in inflation. It is of the utmost importance that inflationary expectations remain anchored at sufficiently low levels of inflation. However, pricing behavior of companies and union wage demands in many countries seem to suggest that the “de-anchoring” of inflationary expectations is already in full swing.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; So, where does all that leave us with respect to the future of monetary policy? <em>The Mystic Hand</em> is clear on this question. A gradual stepping away of the very accommodative stance of monetary policy is urgently needed. Reducing and retiring asset buying programs and raising policy interest rates should no longer be pushed back in time.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; At the strategic level the case is made in <em>The Mystic Hand</em>&nbsp; for abandonment of the frantic pursuit of the 2% inflation target, in line with the arguments of the late Paul Volcker. The number lacks theoretical justification and the complexities of a modern economy reduce its practical relevance. Central banks should instead strategically focus on price stability – the desired level of inflation can vary over time – and financial stability simultaneously. As a matter of fact, it is very hard to achieve price stability while ignoring serious financial stability considerations.</p>
        <p>While central banks take financial stability in consideration, in recent times policy action was only taken <em>ex post</em> &nbsp;in response to a crisis (the so-called cleaning-up strategy championed by former Fed chairmen Alan Greenspan and Ben Bernanke). <em>Ex ante</em> attention toward financial stability leading to pro-active policy changes would require that central banks again start looking attentively at the evolution of monetary and credit aggregates. I concur with former Bundesbank and ECB official Otmar Issing who already a decade ago asked: “How long will we have to wait until the neglect of money and credit in monetary theory and policy will be understood as the major source of macro policy mistakes?”.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>The Mystic Hand</em> concludes by arguing that there will always hang a veil of mystique over central banks’ strategy and policy actions. The process of money creation and money destruction is by nature a complicated, often counterintuitive process that is rather confusing for the non-initiated layman. And that will remain so. Monetary policy will always be part science, part art, part judgement. <em>The Mystic Hand</em> of skillful central bankers will therefore remain an important steering hand for the course of the 21st century economy.&nbsp; &nbsp;&nbsp;&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="l-footer">
            <footer class="o-footer">
                <span class="o-footer__copyright">All rights reserved 2021 @johanvanoveldt</span>
                <ul class="o-footer__menu">
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </footer>
        </div>
    </div>
 </div>
```
```layout.css hidden
.l-page {
   min-height: 800px;
}
```
*/
