/*
---
name: Form Text Input
category: Molecules
---

A basic text input with an optional label and description.

```m-form-text-input.html
<div class="m-form-text-input">
    <input type="text" placeholder="example@email.com" class="m-form-text-input__field" />
</div>
```
*/

.m-form-text-input {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__label {
        margin-bottom: var(--size-s);
    }

    &__field {
        border: 1px solid var(--color-ui-grey);
        border-radius: var(--size-s);
        padding: var(--size-s);
        color: var(--color-ui-almost-black);

        &:focus,
        &:focus-within,
        &:focus-visible {
            border-color: var(--color-tertairy);
            outline: 0;
        }
    }

    &__description {
        margin-top: var(--size-xs);
        font-size: var(--size-s);
        color: var(--color-tertairy);
    }
}
